## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [154]:
import os
import numpy as np
import pandas as pd

In [155]:
# 設定 data_path
dir_data = '../data/'

In [156]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ../data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [157]:
print (app_train.shape)

(307511, 122)

#### 列出所有欄位

In [158]:
for col in app_train.columns:
    print (col)

SK_ID_CURR
TARGET
NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
OWN_CAR_AGE
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
OCCUPATION_TYPE
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE
EXT_SOURCE_1
EXT_SOURCE_2
EXT_SOURCE_3
APARTMENTS_AVG
BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG
YEARS_BUILD_AVG
COMMONAREA_AVG
ELEVATORS_AVG
ENTRANCES_AVG
FLOORSMAX_AVG
FLOORSMIN_AVG
LANDAREA_AVG
LIVINGAPARTMENTS_AVG
LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG
APARTMENTS_MODE
BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE
YEARS_BUILD_MODE
COMMONAREA_MODE
ELEVATORS_MODE
ENTRANCES_MODE
FLOORSMAX_MODE
FLOORSMIN_MODE
LANDAREA_MODE
LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE
NONLIVINGAREA_MODE
APARTMENTS_MEDI
BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI
COMMONAREA_MEDI
ELEVATORS_MEDI
ENTRANCES_MEDI
FLOORSMAX_MEDI
FLOORSMIN_MEDI
LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI
NONLIVINGAREA_MEDI
FONDKAPREMONT_MODE
HOUSETYPE_MODE
TOTALAREA_MODE
WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR

#### 截取部分資料

In [159]:
app_train.iloc[[0, 2, 4]] #取得多個 row

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [160]:
condition = np.logical_and(app_train['CODE_GENDER']=='M', app_train['FLAG_OWN_CAR']=='Y')
app_train[condition]   #找出CODE_GERDER ='M' and FLAG_OWN_CAR='Y'

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
7,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
13,100017,0,Cash loans,M,Y,N,1,225000.0,918468.0,28966.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
15,100019,0,Cash loans,M,Y,Y,0,157500.0,299772.0,20160.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
20,100024,0,Revolving loans,M,Y,Y,0,135000.0,427500.0,21375.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
24,100029,0,Cash loans,M,Y,N,2,135000.0,247500.0,12703.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
28,100033,0,Cash loans,M,Y,Y,0,270000.0,790830.0,57676.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
33,100039,0,Cash loans,M,Y,N,1,360000.0,733315.5,39069.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
39,100046,0,Revolving loans,M,Y,Y,0,180000.0,540000.0,27000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
49,100056,0,Cash loans,M,Y,Y,0,360000.0,1506816.0,49927.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
51,100059,0,Cash loans,M,Y,Y,1,540000.0,675000.0,34596.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,3.0
52,100060,0,Cash loans,M,Y,N,0,76500.0,454500.0,14661.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
54,100062,0,Cash loans,M,Y,N,0,81000.0,675000.0,32472.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
58,100069,0,Cash loans,M,Y,Y,1,360000.0,640458.0,27265.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
59,100070,0,Cash loans,M,Y,Y,0,540000.0,1227901.5,46899.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
62,100073,0,Cash loans,M,Y,Y,0,324000.0,1130760.0,40189.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
64,100076,0,Cash loans,M,Y,N,0,180000.0,315000.0,9679.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
69,100081,0,Cash loans,M,Y,N,0,180000.0,450000.0,21109.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
71,100083,0,Cash loans,M,Y,Y,0,103500.0,573628.5,24435.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
82,100097,0,Cash loans,M,Y,Y,0,157500.0,760225.5,30280.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
83,100098,0,Revolving loans,M,Y,N,0,225000.0,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
85,100100,0,Cash loans,M,Y,Y,2,202500.0,796396.5,38443.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
92,100110,0,Cash loans,M,Y,Y,3,135000.0,373140.0,25065.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
94,100112,1,Cash loans,M,Y,Y,0,315000.0,953460.0,64107.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
95,100113,0,Cash loans,M,Y,N,0,76500.0,135000.0,6696.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
116,100136,0,Cash loans,M,Y,N,1,157500.0,1571931.0,49356.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
118,100138,0,Cash loans,M,Y,N,0,135000.0,824823.0,29223.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
121,100142,0,Cash loans,M,Y,Y,1,360000.0,579195.0,27994.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
125,100146,0,Cash loans,M,Y,Y,0,117000.0,327024.0,12456.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
128,100149,0,Cash loans,M,Y,N,0,171000.0,539590.5,26374.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307316,456040,0,Cash loans,M,Y,Y,0,157500.0,755190.0,38686.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307319,456043,0,Cash loans,M,Y,N,2,202500.0,675000.0,34596.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307328,456052,1,Cash loans,M,Y,N,1,135000.0,316125.0,15372.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307330,456054,0,Cash loans,M,Y,Y,1,180000.0,323388.0,34087.5,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,1.0
307333,456057,0,Cash loans,M,Y,Y,0,112500.0,497520.0,39438.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307349,456074,0,Cash loans,M,Y,N,1,315000.0,730017.0,30928.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307350,456075,0,Cash loans,M,Y,Y,0,112500.0,717003.0,21091.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,3.0
307351,456076,0,Cash loans,M,Y,N,2,315000.0,481495.5,36000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
307356,456081,0,Cash loans,M,Y,Y,0,72000.0,547344.0,19791.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307357,456082,0,Cash loans,M,Y,N,0,157500.0,1078200.0,28570.5,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307374,456099,0,Cash loans,M,Y,Y,0,270000.0,1042560.0,66757.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307380,456105,0,Cash loans,M,Y,N,0,225000.0,1005120.0,29389.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
307382,456107,0,Cash loans,M,Y,Y,1,225000.0,1437799.5,42169.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307385,456110,0,Revolving loans,M,Y,Y,2,180000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307388,456117,0,Cash loans,M,Y,N,1,67500.0,490536.0,23989.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307415,456148,0,Cash loans,M,Y,Y,0,180000.0,589045.5,30204.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307421,456154,0,Cash loans,M,Y,Y,0,157500.0,144000.0,9751.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307425,456158,0,Revolving loans,M,Y,Y,2,234000.0,450000.0,22500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307435,456173,0,Cash loans,M,Y,Y,0,189000.0,675000.0,19737.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307442,456180,0,Cash loans,M,Y,Y,1,135000.0,90000.0,9580.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307449,456187,0,Cash loans,M,Y,Y,1,315000.0,1175314.5,38974.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307451,456190,0,Cash loans,M,Y,N,1,450000.0,545040.0,25407.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307459,456198,0,Cash loans,M,Y,Y,0,225000.0,959017.5,49095.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307460,456199,0,Cash loans,M,Y,N,1,382500.0,745429.5,24354.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
307474,456214,0,Cash loans,M,Y,Y,2,135000.0,360000.0,23004.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307491,456235,0,Cash loans,M,Y,Y,2,90000.0,1078200.0,31522.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307492,456236,0,Cash loans,M,Y,Y,0,585000.0,1575000.0,43443.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307494,456238,0,Cash loans,M,Y,N,1,270000.0,479700.0,46858.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
307495,456239,0,Cash loans,M,Y,N,0,180000.0,808650.0,23773.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307498,456242,0,Cash loans,M,Y,Y,0,198000.0,1312110.0,52168.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0